.aboutMe{
	background-image:linear-gradient( rgba(236, 233, 230, 0.305), rgb(255, 255, 255));
	position: relative;
	margin:0 auto;
	width: 80vw;
	margin-bottom: 1vw;
	opacity: 0.9;
	display: grid;
	grid-template-rows: 1fr 5fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "personality personality"
							" education	skills";		 
}

.personality{
	grid-area: personality;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 1.5;
	padding-bottom:0;
	margin: 0;
	border-bottom:2px solid #7fe7cc;
	
}
.fa-home{
	position: absolute;
	top:35vh;
	left:-6vw;
	font-size:40px;
	color: #7fe7cc;

}
.fa-arrow-alt-circle-up {
	position: absolute;
	top:50vh;
	left:-6vw;
	font-size:40px;
	color: #7fe7cc;
	display: block;
}
.fa-arrow-alt-circle-down{
	position: absolute;
	top:50vh;
	right:-6vw;
	font-size:40px;
	color: #7fe7cc;
	display: block;

}
.personality p{
	text-align: center;
}
.education{
	grid-area:education;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: space-evenly;
	
	border-right:2px solid   #7fe7cc;
}
.formalEd, .ItEd{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

.formalHed, .ItHed{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #eeeeee;
	box-shadow: -2px -2px 10px  #ffffff,
	2px 2px 10px rgba(0, 0, 0, 0.267);
	border-radius: 5px;
	cursor: pointer;
	width: 250px;
	height: 50px;

}
.formalHed h3, .ItHed h3{
	padding: 0;
	margin: 0;
	
}
.fa-caret-down{

	font-size: 1.2rem;
	color: #4fc1e9;
}
.formalTxt, .ItTxt{
margin-top: 1rem;
}
.formalTxt p, .ItTxt p{
	padding: 5px 0;
}

.formalTxt , .ItTxt{
	display: none;
	
}


.skills{
	
	
	grid-area: skills;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 30px 0;
}
/********FLIP CARD********/

.flip{
	background-color:transparent;
	width: 350px;
	height: 420px;
	cursor: pointer;
	margin-bottom: 50px;




}	
.inner-card{
	position: relative;
	width:100%;
	height: 100%;
	text-align: center;
	transition: transform 1s;
	transform-style: preserve-3d;


}
.flip:hover .inner-card{
	transform:rotateY(180deg);
}
.card-front, .card-back{
	position: absolute;
	width:100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 10px;
	border: 3px solid #f5f6f7;
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	list-style-type: none; 
	background-color: #eeeeee;
	padding: 15px 0;


}
.card-header{
	width: 80%;
	margin:0 auto;
	text-align: center;
	height: 20%;
}
.card-skills{
	width: 80%;
	margin:0 auto;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}
.card-skills li{
	width: 100%;
}

.card-back h2, .card-front h2{
	text-align: center;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;

}

.card-back{
	
	transform: rotateY(180deg);
}

/***********SKIIIIIILS**********/

.bar{

	margin-top: 0.5rem;
	background: #e3dedf;
	display: block;
	height: 7px;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 5px 5px 5px #dbced1; 
	width: 90%;
	border: 1px solid #f5f6f7;
}
.bar span{
	height: 7px;
	float: left;
	background: #4fc1e9;
	box-shadow: 3px 3px 3px #dbced1;
}




@-webkit-keyframes animate-positive{
    0%{
		width: 0%;
	}
	
}
@keyframes animate-positive{
    0% { width: 0%; }
}





