.projects{
	height: auto;
	width: 80vw;
	margin: 0 auto;
	display: flex;
	flex-wrap:wrap;
	margin-top: 50px;
	justify-content: center;
	align-content: center;
	position: relative;
	
}
.prUp {
	position: absolute;
	top:50vh;
	left:-6vw;
	font-size:40px;
	color: #49c5b6;
}
.prDown{
	position: absolute;
	top:50vh;
	right:-6vw;
	font-size:40px;
	color: #49c5b6;

}
.cardHolder{
	width:420px;
	margin: 30px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #201d1e1a,
	-20px -20px 10px #ffffffe8;
	border: 2px  solid #f5f6f7;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	cursor: pointer;

}
.cardHolder:hover{
	box-shadow:10px 10px 5px #8080799f;
	transition: ease-in 0.5s;


}
.cardHolder p{
	text-align: center;
	padding:5px;
}
.photoHolder{
	text-align: center;
	width: 100%;

}
.photoHolder img{
	margin-top: 2px;
	width: 95%;
	border-radius: 10px;
}