*{
	margin:0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
	font-family: 'Libre Franklin', sans-serif;
}
body{
	box-sizing: border-box;
}

.mobile-nav{
display: none;
}
.desktop-nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 80%;
	height: 5rem;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 0  #7fe7cb70;

}
.cao, .name, .desc, .downScr{
	opacity: 0;

}

.desktop-nav ul{
	width: 80%;
	height: 100%;
	list-style-type:none;
	display: flex;
	flex-direction: row; 
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;

}

.desktop-nav ul li{
	height: inherit;
	line-height: 5rem;

}

.desktop-nav>ul>li>a, a{
	text-decoration: none;
	font-weight: bold;
	color: black;
	padding-bottom: 10px;
	border-bottom: 3px solid rgb(73, 197, 182, 0);

}
.photo-sec{
	display: grid;
	grid-template-rows: 3fr 1fr;
	grid-template-columns: 2fr 3fr;
	grid-template-areas: "txt photo"
							"linkDown photo";


	width: 80%;
	height: calc(100vh - 5rem);
	margin:0 auto;
	align-items: center;
	justify-content: center;
}
.photoTxt{
	grid-area: txt;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;



}
.downScr{
	grid-area: linkDown;
	height: 100%;
	width: 100%;
	text-align: center;
}

.photoTxt h2{
	font-size: 40px;
}


.photo{
	grid-area: photo;
	width:100%;
	display:flex;
	align-items: center;
	justify-content: center;
}
.photo img{
	height: 500px;
}

