*{
	margin:0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
	font-family: 'Libre Franklin', sans-serif;
}
body{
	box-sizing: border-box;
}

.mobile-nav{
display: none;
}
.desktop-nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 80%;
	height: 5rem;
	align-items: center;
	justify-content: center;
	box-shadow:inset 0 -2px  #7fe7cbf6;
	

}
.cao, .name, .desc, .downScr{
	opacity: 0;

}

.desktop-nav ul{
	width: 80%;
	height: 100%;
	list-style-type:none;
	display: flex;
	flex-direction: row; 
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;

}

.desktop-nav ul li{
	height: inherit;
	line-height: 5rem;

}

.desktop-nav>ul>li>a, a{
	text-decoration: none;
	font-weight: bold;
	color: black;
	padding-bottom: 10px;
	border-bottom: 3px solid rgb(73, 197, 182, 0);

}
.photo-sec{
	background-image:linear-gradient(  rgb(255, 255, 255), rgba(236, 233, 230, 0.305));
	display: flex;
	width: 80%;
	height: calc(100vh - 5rem);
	margin:0 auto;
	align-items: center;
	justify-content: center;
}
.photoTxt{
	height: 60%;
	width: 100%;
	padding-bottom: 100px;
	align-self: center;
	justify-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.photoTxt h2{
	font-size: 40px;
}


.photo{
	width:100%;
	display:flex;
	align-items: center;
	justify-content: center;
}
.photo img{
	height: 500px;
	
	
}

